<div class="col-md-4">

   
    <div class="product-item">
        <div class="product-title">
            <a href="#"><%- p.name %></a>
            
        </div>
        <div class="product-image">
            <a href="./sp?ip=<%- ip %>">
                <img src="./<%- p.img %>" alt="Product Image">
            </a>
        </div>
        <div class="product-price">
            <h3><%- p.price %></h3>


           
        </div>
    </div>
</div>